{% extends 'base.html' %}

{% block content %}
    <h1>Let's convert it!</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.selected_converter.label}}
        {{ form.selected_converter }}<br>
        {{ form.added_data.label }}
        {{ form.added_data }}
        {{initial_unit}}->{{result_unit}}
        <input type="submit" value="convert"/>
        <p>initial value: {{initial_value}} {{initial_unit}}<br>
            result: {{result}} {{result_unit}}<br>
            message (if something wrong): {{message}}
        </p>
    </form>
{% endblock content%}
